list.css
アクセスできるユーザー
共有なし
システム プロパティ
種類
スタイルシート
サイズ
2 KB
使用容量
2 KB
パス
css
オーナー
自分
最終更新
2021/10/29（自分）
最終閲覧
11:08（自分）
作成日
2021/10/29（Google Drive Web を使用）
説明を追加
閲覧者はダウンロード可
/* ===== Main ===== */
main {
  display: flex;
  justify-content: center;
}

/* ===== Main - Search ===== */
.search {
  width: 20%;
}

.search form {
  border: 1px solid gray;

/* border-radius: 20px; */
  margin: 20px;
  padding: 20px;
}

.search .form-content {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.search form input {
  /* border-radius: 5px; */
  padding: 7px 5px;
}

.search form input[type=submit] {
  width: 100%;
}

/* .tag {
  margin-top: 5px;
}

.tag > p {
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
  font-size: 14px;
  padding: 5px 23px 5px 10px;
  position: relative;
}

.tag > p::after {
  content: "×";
  display: block;
  font-size: 18px;
  height: 17px;
  position: absolute;
  right: 3px;
  top: 1px;
  width: 17px;
} */

.tag-content {
  margin-top: 5px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
  width: 82px;
}

.tag-content::after {
  content: "×";
  display: block;
  font-size: 18px;
  height: 17px;
  position: absolute;
  right: 5px;
  top: 6px;
  width: 17px;
}

.tag {
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
  font-size: 14px;
  padding: 5px 25px 5px 10px;
  text-align: center;
  width: 70px;
}


/* ===== Main - List ===== */
.assetList {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  width: 90%;
  margin: 20px 0;
}

.item {
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.item img {
  max-height: 100%;
  max-width: 100%;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.code {
  font-size: 15px;
}

.item > div {
  display: flex;
  justify-content: space-around;
}

.owner {
  position: relative;
}

.owner::before {
  background: url(../img/owner.png);
  background-size: 100%;
  content: "";
  display: block;
  height: 17px;
  left: -17px;
  position: absolute;
  top: 0px;
  width: 17px;
}

@media screen and (max-width: 1024px) {
  .search {
    width: 30%;
  }

  .assetList {
    grid-template-columns: repeat(4,1fr);
    width: 70%;
  }

  .name {
    font-size: 18px;
  }
  
  .code {
    font-size: 12px;
  }

  .item > div {
    font-size: 12px;
  }

  .owner::before {
    height: 12px;
    left: -12px;
    width: 12px;
  }
}

@media screen and (max-width: 480px) {
  .search {
    width: 30%;
  }

  .assetList {
    grid-template-columns: repeat(3,1fr);
    width: 70%;
  }
}
