/* ===== Main ===== */
main {
  display: flex;
  justify-content: center;
}

/* ===== Main - search-container ===== */
#search-container {
  width: 20%;
  border: 1px solid gray;
  margin: 20px;
  padding: 20px;
}

#search-container .search-item {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

#search-container button {
  width: 50px;
  padding: 7px 5px;
  width: calc(100%);
}

/* ===== Main - list-container ===== */
#list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  width: 90%;
}

.item {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 35px 20px 27px;
  place-items: center;
  max-width: 250px;
}

.item img {
  max-width: 150px;
  max-height: 150px;
  grid-row: 1;
}

.name {
  color: black;
  font-size: 30px;
  grid-row: 2;
}

.code {
  color: #616161;
  grid-row: 3;
}

.item > div {
  color: #616161;
  grid-row: 4;
  display: inline-flex;
  justify-content: space-around;
  text-align: center;
  width: 250px;
}

.place {
  color: #616161;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50%;
}

.owner {
  font-size: 20px;
  position: relative;
  white-space: nowrap;
  max-width: 50%;
}

.owner::before {
  background: url(../img/owner.png);
  background-size: 100%;
  content: "";
  display: block;
  height: 17px;
  left: -17px;
  position: absolute;
  top: 0;
  width: 17px;
}

@media screen and (max-width: 480px) {
  #search-container {
    display: none;
  }

  #list-container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 1px;
  }

  .item {
    border: 2px solid #E0E0E0;
    display: grid;
    text-align: center;
    grid-template-columns: 70px 1fr 10px 1fr;
    grid-template-rows: 15px 35px 20px;
    place-items: center;
    max-width: 100%;
  }

  .item img {
    max-height: 70px;
    max-width: 70px;
    grid-column: 1;
    grid-row: 1 / 4;
  }

  .name {
    font-size: 30px;
    grid-column: 2;
    grid-row: 2;
  }

  .code {
    grid-column: 2;
    grid-row: 3;
  }

  .item > div {
    flex-flow: column;
    grid-column: 4;
    grid-row: 2 / 4;
    text-align: left;
    width: calc((100vw - 70px) / 2.5);
  }
  
  .place{
    font-size: 18px;
    overflow: hidden;
    grid-row: 3;
    max-width: unset;
  }
  
  .owner{
    font-size: 18px;
    grid-row: 4;
  }
}
