/* ===== Main ===== */
main {
  display: flex;
  justify-content: center;
}

/* ===== Main - Search ===== */
.search {
  width: 20%;
}

.search form {
  border: 1px solid gray;

/* border-radius: 20px; */
  margin: 20px;
  padding: 20px;
}

.search .form-content {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

.search .form-input {
  display: flex;
  justify-content: center;
}

.search form input {
  /* border-radius: 5px; */
  padding: 7px 5px;
  width: calc(100% - 50px);
}

.search form button {
  width: 50px;
}

.tag {
  margin-top: 5px;
}

.tag > p {
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
  font-size: 14px;
  padding: 5px 23px 5px 10px;
  position: relative;
}

.tag > p::after {
  content: "×";
  display: block;
  font-size: 18px;
  height: 17px;
  position: absolute;
  right: 3px;
  top: 1px;
  width: 17px;
}

/* ===== Main - List ===== */
.list {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  width: 90%;
}

.item {
  color: black;
  text-align: center;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.code {
  font-size: 15px;
}

.item > div {
  display: flex;
  justify-content: space-around;
}

.owner {
  position: relative;
}

.owner::before {
  background: url(../img/owner.png);
  background-size: 100%;
  content: "";
  display: block;
  height: 17px;
  left: -17px;
  position: absolute;
  top: 3px;
  width: 17px;
}

@media screen and (max-width: 480px) {
  .search {
    display: none;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 90%;
  }

  .item {
    display: grid;
    border: 1px solid gray;
    height: 80px;
  }

  .item img {
    max-height: 70px;
  }

  .name {
    display: inline-block;
  }

  .code {
    display: inline-block;
  }
}