* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 90vw;
}

img {
  border: 0;
  margin: 0;
  max-width: 100%;
  vertical-align: top;
}

ul {
  list-style: none;
}

/* ===== Header ===== */
header {
  background: gray;
  height: 50px;
  padding: 10px 0;
}

nav {
  display: flex;
}

nav ul {
  align-items: center;
  column-gap: 3.5rem;
  display: flex;
  width: calc(100% - 150px);
}

nav li a {
  color: black;
  margin-left: 50px;
}

nav li:last-child {
  margin-left: auto;
}

.user-icon {
  width: 50px;
  margin: 0 50px;
}

.user-icon a {
  width: 50px;
  height: 50px;
  display: block;
}

.user-icon img {
  border-radius: 50%;
  width: 50px;
}

/* ===== Moodal ===== */
h2 {
  font-size: 20px;
  text-align: center;
}

.logout .modaal-inner-wrapper {
  text-align: right;
  display: block;
}

.logout .modaal-container {
  width: 200px;
}

.logout .modaal-content-container div {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.logout .modaal-content-container div p {
  margin-bottom: 50px;
}


.logout .modaal-content-container div span {
  color: #ff4040;
}

.logout .modaal-content-container div input,
.logout .modaal-content-container div button {
  margin-top: 10px;
  padding: 10px 0;
  width: 100%;
}

.logout .modaal-close {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
}

.logout .modaal-close::before,
.logout .modaal-close::after {
  background: black;
}