* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 90vw;
  text-align: center;
  margin: 0 auto;
}

img {
  max-width: 100%;
  margin: 0;
  border: 0;
  vertical-align: top;
}

ul {
  list-style: none;
}

/* ===== Header ===== */
header {
  height: 50px;
  background: gray;
  padding: 10px 0;
}

.default {
  display: flex;
}

.sp {
  display: none;
}

nav ul {
  display: flex;
  width: calc(100% - 150px);
  align-items: center;

  column-gap: 3.5rem;
}

nav li a {
  color: black;
  margin-left: 50px;
}

nav li:last-child {
  margin-left: auto;
}

.user-icon {
  width: 50px;
  margin: 0 50px;
}

.user-icon img {
  width: 50px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  /* ===== Reset ===== */
  nav .bottom-menu li a {
    margin: 0;
  }

  nav .bottom-menu li:last-child {
    margin: 0;
  }

  header {
    padding: 0;
  }

  nav {
    width: auto;
    padding-bottom: 0;
  }

  .default {
    display: none;
  }

  .sp {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: baseline;
  }

  nav .sp .top-menu {
    position: absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;

    column-gap: 3rem;
    -webkit-overflow-scrolling: touch;
  }

  nav .top-menu li:last-child {
    margin: 0;
  }

  nav .top-menu li input {
    margin-left: 20px;
  }

  nav .sp .top-menu .user-icon {
    width: 100%;
    text-align: right;
    margin: 0;
  }

  nav .sp .top-menu .user-icon img {
    width: 30px;
    margin: 10px 20px 10px 0;
  }

  nav .sp .bottom-menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
    bottom: 0;
    background: #e5e5e5;
    z-index: 100;
  }

  nav .sp .bottom-menu li {
    text-align: center;
  }

  nav .sp .bottom-menu li a img {
    width: 40px;
  }
}
