* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  text-align: center;
}

img {
  border: 0;
  margin: 0;
  max-width: 100%;
  vertical-align: top;
}

ul {
  list-style: none;
}

/* ===== Header ===== */
header {
  background: gray;
  height: 50px;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  align-items: center;
  column-gap: 3.5rem;
  display: flex;
  margin-left: 50px ;
}

nav li a {
  color: black;
}

.user-icon {
  margin-right: 50px;
}

.user-icon img {
  border-radius: 50%;
  width: 50px;
}
